@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-navbar {
  width: 100%; /* Full width */
  max-width: none; /* Remove max-width restriction */
  border-radius: 1rem; /* Rounded corners */
  backdrop-saturate: 200%; /* Backdrop saturation */
  backdrop-blur: 2xl; /* Backdrop blur */
  background-opacity: 80%; /* Background opacity */
  border: 1px solid rgba(255, 255, 255, 0.8); /* White border */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin auto */
  box-shadow: none; /* Remove shadow */
  border-radius: 0%;
  
}

.mega_menu{
  width: 100%; /* Full width */
  max-width: none; /* Remove max-width restriction */

}
